<h1>The Articles</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>    
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td>placeholder</td>
            </tr>
        <% end %>
    </tbody>
</table>