@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

.navbar {
    background-color: #111a19 !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

#home-container{ 
    margin-top: 25px;
}


#page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
    margin-top: 25px;
  }

#sticky-footer {
    flex-shrink: none;
}